<!DOCTYPE html>
<html>

<head>
    <title>Практическое задание</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <a href="/"><button class="back-btn">← Назад</button></a>
            <h1>Практическое задание</h1>
        </div>
        <form action="/practical" method="POST">
            {% set grouped_tasks = {'Обычная': [], 'Средняя': [], 'Сложная': []} %}
            {% for task in tasks %}
            {% set _ = grouped_tasks[task.difficulty].append(task) %}
            {% endfor %}

            {% for level, level_tasks in grouped_tasks.items() %}
            <h2>Сложность: {{ level }}</h2>
            {% for i, task in enumerate(level_tasks) %}
            <div class="task">
                <p><strong>Задание {{ i+1 }}:</strong> {{ task.description }}</p>
                <pre style="text-align: left;">{{ task.code }}</pre>
                <label for="answer_{{ i }}">Введите ответ:</label><br>
                <input type="text" name="answer_{{ i }}" required><br>
            </div>
            {% endfor %}
            {% endfor %}
            <button type="submit">Отправить ответы</button>
        </form>
    </div>
</body>

</html>