<!DOCTYPE html>
<html>

<head>
    <title>Практическое задание</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <a href="/"><button class="back-btn">← Назад</button></a>
            <h1>Практическое задание</h1>
        </div>

        <form method="POST" action="/practical">
            <div class="difficulty-container">
                <label for="difficulty" class="difficulty-title">Выберите сложность:</label>
                <select name="difficulty" id="difficulty" onchange="loadTasks()">
                    <option value="">-- Выберите сложность --</option>
                    {% for level in tasks.keys() %}
                    <option value="{{ level }}">{{ level }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="tasks-container">
                {% for level, level_tasks in tasks.items() %}
                <div class="tasks" id="{{ level }}" style="display: none;">
                    <h2 class="difficulty-title">{{ level }}</h2>

                    {% for task in level_tasks %}
                    <div class="task-box">
                        <div class="task-container">
                            <div class="task-description">
                                <p class="question">{{ task["description"] }}</p>
                            </div>
                            {% if "code" in task %}
                            <div class="task-code">
                                <pre class="code-block">{{ task["code"] }}</pre>
                            </div>
                            {% endif %}
                            <div class="task-input">
                                <input type="text" name="{{ task['description'] }}" class="input-field"
                                    placeholder="Введите ответ">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <button type="submit" class="submit-btn">Завершить</button>
        </form>
    </div>

    <script>
        function loadTasks() {
            let selectedLevel = document.getElementById("difficulty").value;
            document.querySelectorAll(".tasks").forEach(taskDiv => {
                taskDiv.style.display = "none";
            });
            if (selectedLevel) {
                document.getElementById(selectedLevel).style.display = "block";
            }
        }
    </script>
</body>

</html>